@using proj.Models
@{
    ViewBag.Title = "ManageLecturer";
}

<h2>manageStudents</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr bgcolor="#a2b9bc">
        <th>Lecturer Id </th>
        <th>Username </th>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Course ID</th>
        <th>Course Name</th>

    </tr>
    @foreach (Lecturer obj in Model.faLecturers)
    {
        <tr bgcolor="#b2ad7f">
            <td>@obj.LectId</td>
            <td>@obj.Username</td>
            <td>@obj.LectName</td>
            <td>@obj.LectLastName</td>
            <td>@obj.CourseId</td>
            <td>@obj.CourseName</td>
        </tr>
    }
</table>
<table class="table table-bordered table-responsive table-hover">
    <tr bgcolor="#a2b9bc">
        <th>Course Id</th>
        <th>Course Name </th>
        <th>Day</th>
        <th>Start Hour</th>
        <th>Room</th>
        <th>End Hour</th>
    </tr>
    @foreach (Courses obj in Model.faCourses)
    {
        <tr bgcolor="#b2ad7f">
            <td>@obj.CourseId</td>
            <td>@obj.CourseName</td>
            <td>@obj.Day</td>
            <td>@obj.SHour</td>
            <td>@obj.Room</td>
            <td>@obj.EHour</td>
        </tr>
    }
</table>

<form method="post" action="AssignLecturers" onsubmit="SetData()">
    <h3> Select lect id</h3>
    <select name="LectId" id="LectId">
        @foreach (int obj in Model.faLecturersID)
        {
            <option value=@obj>@obj</option>
        }
    </select>
    <h3>Select course name</h3>
    <select name="courseName" id="courseName">
        @foreach (Courses obj in Model.faCourses)
        {
            <option value=@obj.CourseName>@obj.CourseName</option>
        }
    </select>
    <input type="submit" value="assign" />
</form>