@using proj.Models
@{
    ViewBag.Title = "manageExams";
}

<div><b>Exams</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr bgcolor="#a2b9bc">
        <th>Course Id </th>
        <th>Course Name </th>
        <th>Day</th>
        <th>SHour </th>
        <th>Room </th>
        <th>EHour </th>

    </tr>
    @foreach (Courses obj in Model.courses)
    {
    <tr bgcolor="#b2ad7f">
        <td>@obj.CourseId</td>
        <td>@obj.CourseName</td>
        <td>@obj.Day</td>
        <td>@obj.SHour</td>
        <td>@obj.Room</td>
        <td>@obj.EHour</td>
    </tr>
    }
</table>

<form method="post" action="FaMupdateGrade" onsubmit="SetData()">
    <select name="courseId" id="courseId">
        @foreach (Courses obj in Model.courses)
        {
            <option value=@obj.CourseId>@obj.CourseId</option>
        }
    </select>
    <input type="submit" value="enter" />
</form>