@using proj.Models
@{
    ViewBag.Title = "enter";
}
@{
    var course = ViewData["course"];
}
<style>

    body {
        background-color: #31302a;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .holder {
        margin-top: 130px;
        width: 100%;
        height: 340px;
        background-color: grey;
    }

    .options {
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .footerImg {
        position: relative;
        display: block;
        float: left;
    }

    table {
        width: 100%;
    }

    th {
        height: 50px;
        padding: 15px;
        text-align: left;
    }

    tr {
        padding: 25px;
        text-align: left;
    }

        tr:hover {
            background-color: #f5f5f5;
        }

    h2 {
        padding-left: 150px;
        padding-top: 50px;
    }
</style>

<div>
    <div>
        <label>Students for course @course</label>
    </div>
    @if (Model.allStudentsCourses != null)
    {

        <table class="table table-bordered table-responsive table-hover">
            <tr bgcolor="#a2b9bc">
                <th>Username </th>
                <th>ExamA</th>
                <th>ExamB </th>

            </tr>

            @foreach (StudentCourses obj in Model.allStudentsCourses)
            {
                <tr bgcolor="#b2ad7f">
                    <td>@obj.Username</td>
                    <td>@obj.ExamA</td>
                    <td>@obj.ExamB</td>
                </tr>
            }
        </table>
    }
    <form method="post" action="UpdateGrade" onsubmit="SetData()">
        <h2>Add grade to student: </h2>
        <label>Username: </label> <input class="username" id="Username" name="Username" type="text" />
        <br />
        <label>CourseId: </label> <input class=" CourseId" id="CourseId" name="CourseId" type="text" />
        <br />
        <label>Moed: </label>
        <br />
        <select name="moed" id="moed">
            <option value="a">A</option>
            <option value="b">B</option>
        </select>
        <label>Grade: </label> <input class="Grade" id="Grade" name="Grade" type="text" />
        <input class="submitGradeUpgrade" id="submitGradeUpgrade" type="submit" value="Update" />
    </form>
</div>

    
<footer class="footer">
    <img class="footerImg" src="@Url.Content("~/Content/footer.png")" align="bottom" style=" width: 100%;" />
</footer>


