@using proj.Models
@{
    ViewBag.Title = "manageStudents";
}

<h2>manageStudents</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr bgcolor="#a2b9bc">
        <th>Id </th>
        <th>First Name </th>
        <th>Last Name</th>


    </tr>
    @foreach (Student obj in Model.faStudents)
    {
        <tr bgcolor="#b2ad7f">
            <td>@obj.Id</td>
            <td>@obj.FirstName</td>
            <td>@obj.LastName</td>
        </tr>
    }
</table>
<table class="table table-bordered table-responsive table-hover">
    <tr bgcolor="#a2b9bc">
        <th>Course Id</th>
        <th>Course Name </th>
        <th>Day</th>
        <th>Start Hour</th>
        <th>Room</th>
        <th>End Hour</th>
    </tr>
    @foreach (Courses obj in Model.faCourses)
    {
        <tr bgcolor="#b2ad7f">
            <td>@obj.CourseId</td>
            <td>@obj.CourseName</td>
            <td>@obj.Day</td>
            <td>@obj.SHour</td>
            <td>@obj.Room</td>
            <td>@obj.EHour</td>
        </tr>
    }
</table>

<form method="post" action="assignStudents" onsubmit="SetData()">
    <select name="studentId" id="studentId">
        @foreach (Student obj in Model.faStudents)
        {
            <option value=@obj.Id>@obj.Id</option>
        }
    </select>
    <select name="courseName" id="courseName">
        @foreach (Courses obj in Model.faCourses)
        {
            <option value=@obj.CourseName>@obj.CourseName</option>
        }
    </select>
    <input type="submit" value="assign" />
</form>

@if ((string)Session["rowExists"] == "Lecturer assinged")
{
    <script type="text/javascript">
        alert("the lecturer is succsessfuly assinged to this course!");
    </script>
    Session["rowExists"] = "";
}
@if ((string)Session["rowExists"] == "Lecturer already assinged")
{
    <script type="text/javascript">
        alert("the lecturer cannot be assinged to this course!");
    </script>
    Session["rowExists"] = "";
}


@if ((string)Session["rowExists"] == "student already assinged")
{
    <script type="text/javascript">
        alert("the student cannot be assinged to this course!");
    </script>
    Session["rowExists"] = "";
}
@if ((string)Session["rowExists"] == "student already assinged")
{
    <script type="text/javascript">
        alert("the student cannot be assinged to this course!");
    </script>
    Session["rowExists"] = "";
}
@if ((string)Session["result"] == "success")
{
    <script type="text/javascript">
        alert("data saved-course added to student");
    </script>
    Session["result"] = "";
}
@if ((string)Session["result"] == "Operation failed")
{
    <script type="text/javascript">
        alert("failed-course was not added to student due to hours");
    </script>
    Session["result"] = "";
}